* {
    margin: 0;
    padding: 0;
}

#home {
    height: 100%;
}

header {
    margin: 20px 50px;
    background: white;
    display: flex;
    gap: 25%;
}

header div h1 {
    color: rgb(17, 104, 197);
    font-size: 35px;
}

header div ul {
    display: flex;
    gap: 40px;
}

header div ul li {
    list-style: none;
    font-size: 16px;
}

header div ul li:first-child {
    border: solid 1px gray;
    border-radius: 20px;
    padding: 8px;
}

header div ul li:not(:first-child) {
    margin-top: 10px;
}

/*=========== HOME PG =============*/
.home {
    background-image: url("images/Swimming_pool.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home div h1 {
    color: white;
    font-size: 45px;
}

.middle-bar {
    background: rgb(232, 226, 226);
    display: flex;
    padding: 15px;
    border-radius: 20px;
    width: 85%;
}

.middle-bar div {
    border: solid 1px gray;
    border-radius: 20px;
    height: 50px;
    width: 300px;
}

.middle-bar-sub {
    background: white;
    display: inline-flexbox;
    justify-items: left;
    align-content: center;
    padding-left: 50px;
}

.sub1, .sub3 {
    margin: 0px;
}


/*============== SLIDER ==============*/
.slider-container {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
}

.slider {
    display: flex;
    transition: scroll-behavior 0.5s ease;
    overflow-x: auto;
    scroll-behavior: smooth; 
    padding: 10px;
    scroll-snap-type: x mandatory;
}


.slide {
    flex: 0 0 150px;
    height: 200px;
    margin-right: 10px;
    background-color: #555;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    scroll-snap-align: start;
    border-radius: 8px;
}


.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.scroll-button.left { left: 10px; }
.scroll-button.right { right: 10px; }


.slider::-webkit-scrollbar {
    display: none;
}
.slider {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/*=============== SLIDER2 ================*/

.slider2-container {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
}

.slider2 {
    display: flex;
    transition: scroll-behavior 0.5s ease;
    overflow-x: auto;
    scroll-behavior: smooth; 
    padding: 10px;
    scroll-snap-type: x mandatory;
}


.slide2 {
    flex: 0 0 150px;
    height: 200px;
    margin-right: 10px;
    background-color: #555;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    scroll-snap-align: start;
    border-radius: 8px;
}


.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.scroll-button.left { left: 10px; }
.scroll-button.right { right: 10px; }


.slider2::-webkit-scrollbar {
    display: none;
}
.slider2 {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

